//@import "normalize.less";
//@import "preboot.less";
@import "fonts.less";

// CONSTANTS

@background:            #dcdcdc;
@container-width:       1024px;
@title-bg:      #2c2c38;
@detail-width:  20%;





.text-outline(@radius, @color) {
    text-shadow: @radius 0 @radius @color,
    0 @radius @radius @color,
    -@radius 0 @radius @color,
    0 -@radius @radius @color;
}

// LAYOUT
@black-text:#231F20;

html {
    background: url('../img/pattern1.jpg') repeat #fff;
  //  font-family: 'futuramedium', sans-serif;
  font-family: @body-font;
  font-size: 14px;
  padding-bottom: 40px;
  color:@black-text;
}
h1, h2, h3, h4, h5, h6 {
  font-family: @body-bold;
//    font-family: 'futuramedium', sans-serif;
text-transform: uppercase;
   // letter-spacing: .05em;
   // line-height: 110%;
}
a {
    text-decoration: none;
    color:inherit;
}




.container {
    clear:both;
    width: 95%;
    max-width: @container-width;
    margin:0 auto;
    padding: 0 2%;
    h1 {
        text-transform: uppercase;
        text-align: center;
      //  font-size: 1.7em;
      width:100%;
  }
}

.column {
    display:inline-block;
    margin: 0px;
    text-align: center;
}


#mc_embed_signup{
    background: transparent;
    clear:left;
    font:14px Helvetica,Arial,sans-serif;
    text-align: center;
}

.scrollup{

    z-index: 1000;
    width:50px;
    height:40px;
    opacity:1;
    position:fixed;
    bottom:50px;
    right:100px;
    display:none;
    text-indent:-9999px;
    background-image: url('../img/ui/arrow_gray.png');
    background-size: contain;
    background-repeat: no-repeat;
    transform:rotate(-90deg);
-ms-transform:rotate(-90deg); /* IE 9 */
-webkit-transform:rotate(-90deg); /* Safari and Chrome */
}

#top {
    padding-top:1em;
    .title-div {
        float:left;
        .uw-title {
           // font-family: @title-font;
           // font-size: 2.5em;
           // font-weight: normal;
           // margin: 0;
           // line-height: 1em

        }
    }
//    .tagline {
//        font-family: @title-font;
//        font-size: 1em;
//        margin: 0.2em 0 1em 0;
//    }
    #nav 
    {
      font-family: @body-bold;
      text-transform: uppercase;
      text-decoration: none;
      color:@black-text;
      font-size: 1.5em;

      float:right;   
      text-align: right;
      width:70%;
      padding:1.4em 0 0 0;
      li ul.show {
        display:block;
        z-index: 1000;
      }
        li {
            cursor:pointer;
            list-style: none;
            display: inline;
            margin-left: 10%;
            position:relative;
            ul { 
                display:none;
                z-index: 1000;
                text-align: center;
                left:-2.25em;
                position:absolute;
                //margin: 0 0 0 -50%;
                padding: 0;
                color:#fff;
                li {
                    width:9em;
                    padding:0;
                    margin:3px 1px;
                    display: block;
                    
                    background-color: #231F20;


                }
                li:hover {
                    background-color: #64C4B8;
                }
            }
        }
        a {

        }
        li:nth-child(1) {margin: 0;}

        //    a:hover {padding: 0;}
}


}
#map-container {
   // float:left;
    position: relative; 
   // clear:both;
   // margin:auto;
    //width:95%;
   // height:px;
   // max-width: 945px;
    //max-height:px;

}
#banner header {
    float:left;
    width: 100%;
    max-width: @container-width;
    //max-height:400px;
    img {
        width:100%;
    }
}



.default-icon {
  background: none;
  border:none;
  background-image:url('../img/marker.png');
  background-size: 100% 100%; 
  font-family: @title-font;
  font-size: 24px;
  text-align: center;
  padding-top:.2em;
  color: #FFF;
}
.selected-icon {
  background: none;
  border:none;
  background-image:url('../img/marker_highlight.png');
  background-size: 100% 100%; 
  font-family: @title-font;
  font-size: 24px;
  text-align: center;
  padding-top:.2em;
  color: #FFF;
}
html {
  color:@black-text;
  line-height: normal;
}
ol, ul {
  margin: 0;
  padding: 0;
}
#map-section {
  height: 100%;
  width:70%;
  #daynight {
    cursor:pointer;
    position: absolute;
    top:10px;
    right: 10px;
    z-index: 100;
  }
}
#photo-large {
    display: none;
    position: absolute;
    max-width: 94%;
    //float:left;
    padding: 10px;
    // padding-top: 40px;
    //top: 50px;
    // left: 0px;
    margin:auto;
    z-index: 9999;
    background-color: #bbbdbf;
    //cursor: -webkit-zoom-out; cursor: -moz-zoom-out;
    img.photo {
      max-width: 100%
    }
    // #close-icon {
    //   position: absolute;
    //   top: 10px;
    //   left: 10px;
    // }
    div.title {
      text-align: center;
      height: 40px;
      background-color:#2C2C38;
      overflow: hidden;
      h3 {
        display:inline;
        color:#FFFFFF;
        text-align: center;
        line-height: 40px;
      }
      img {
        position: absolute;
        left: 20px;
        top: 20px;
      }
    }
}
#sidebar {
  font-family: @title-font;
  font-size: 1.5em;
  height:100%;
  position: absolute;
  display: block;
  z-index: 999;
  //width:30%;
  // background-color: #bbbdbf;
  // padding: 10px;
  #place {
    position: absolute;
    max-height:58%;
    overflow-y: auto;
    width: 100%;
    .description {
      height: 40%;
      overflow-y: auto;
      font-size: 0.8571em;
      padding: .5em;
      height: 9em;
      p {
        margin: 0;
      }
    }
  }
  #sidebar-list {
    border-top:10px solid #bbbdbf;
    position:absolute;
    width:100%;
    max-height:40%;
    bottom:0;
    overflow-y: auto;

    li {
      font-size: 80%;
      cursor:pointer;
      padding: .5em .25em;
      font-family: @title-font;
      text-transform: uppercase;
      font-size: 1.3em;
      position: relative;
      display: block;
      //height:2em;
      border-bottom:1px solid #bbbdbf;
      vertical-align: middle;
      .list-number {
        display: inline-block;
        width:1.5em;
        height:1.5em;
        border-radius: 50%;
        -webkit-border-radius: 50%; -moz-border-radius: 50%em;
        border:1px solid #bbbdbf;
        text-align: center;
     //   vertical-align: middle;
        margin:0 0.5em;
        padding-top: 0.16em;
      
      }
      .list-item {
        padding-top: 0.16em;
        position:absolute;
        display:inline-block;
        vertical-align: middle;
        
      }
      .arrow {
        float:right;
        height:1.5em;
        width:0.796875em;
        max-height: 1.2em;
        margin:0 0.5em;

        background-image:url("../img/ui/arrow_gray.png");
        background-size: 100% 100%; 
    //    vertical-align: middle;
       
      }
    }
    li.selected {
      color:#FFF;
      background-color: #64C4B8;
      .list-number {
        border:1px solid #FFF;
      }
      .arrow {
        background-image:url("../img/ui/arrow_white.png");
        background-size: 100% 100%; 
        
      }
    }
  }
}

#detailview {
  position: absolute;
  background-color: #FFF;
  bottom:0;
  top:0;
  width:100%;
  //padding:5px;
  overflow: hidden;
  border:10px solid #bbbdbf;
  font-family: @body-font;
  font-size: 14px;
  max-width: 100%;
  .title {
  font-size:1.3em;
    text-align: center;
    height: 40px;
    background-color:#2C2C38;
    color:#FFFFFF;
    padding: 0;
    overflow: hidden;
    
    #home {
      float: left;
      max-height: 40px;
      margin: 5px;
    }
    h2 {
      display: inline;
      font-family: @title-font;
      font-size: 1.5em;
      font-weight: normal;
      line-height: 40px;
      letter-spacing: 0.1em;
      max-width: 50%;
      padding: 0;
      margin: 0;
  //    margin-bottom: 20px;
      vertical-align: baseline;
    }
    h3 {
      display: inline;
      font-family: @title-font;
      font-size: 1em;
      font-weight: normal;
      line-height: 40px;
      letter-spacing: 0.1em;
      max-width: 50%;
      padding: 0;
      margin: 0;
  //    margin-bottom: 20px;
      vertical-align: baseline;
    }

  }
  #photo {
    width: 100%;
    max-height:168px;
    overflow:hidden;
    position: relative;
    //cursor: -webkit-zoom-in; cursor: -moz-zoom-in;
    //background-color: rgba(58, 58, 63, 0.85);
     text-align: center;
    #preview-photo {
      min-height: 100%;
      min-width: 100%;
      max-width: 358px;
    }
    #popout
    {
      position: absolute;
      bottom: 5px;
      right: 5px;
      max-width: 20px;
    }
  }

  .info {
    //background-color: rgba(255, 255, 255, 0.90);
    padding: 0.5em;
    // .buttons {
      //min-height: 60px;
      .address {
        width: 50%;
        float: left;
        font-size: 1em;
          font-family: @body-font;
        //font-weight: bold;
        padding-top: 20px;
        .sub-address {
          font-weight:300;
        }
      }
      .icons {
        // .user-select(none);
        width: 50%;
        position: absolute;
        right: 5%;
        text-align: center;
        padding-top: 10px;
        span {
          display: inline-block;
          float: right;
          width: 30px;
          padding-top: 30px;
          font-size: 10px;
          margin: 0 10px;
          background-size: 30px 30px;
          background-repeat: no-repeat;
        }


        .icon-views {
          background-image: url('../img/ui/views.png');
        }
        .icon-open {
          background-image: url('../img/ui/24.png');
        }
        .icon-art {
          background-image: url('../img/ui/art.png');
        }
        .icon-outdoor {
          background-image: url('../img/ui/outdoor.png');
        }
        .icon-indoor {
          background-image: url('../img/ui/indoor.png');
        }
        .icon-food {
          background-image: url('../img/ui/food.png');
        }
        .icon-dogs {
          background-image: url('../img/ui/dogs.png');
        }
        .icon-food {
          background-image: url('../img/ui/food.png');
        }
        .icon-wifi {
          background-image: url('../img/ui/wifi.png');
        }
      }
    }

  // .navigation {
  //   bottom: 0;
  //   position: absolute;
  //   .user-select(none);
  //   span {
  //     background-color: rgba(255, 255, 255, 0.90);
  //     width: 50%;
  //     float: left;
  //     text-align: center;
  //     border-top: 1px solid rgb(220, 220, 220);
  //     .box-sizing(border-box);
  //     cursor: pointer;
  //     &:hover {
  //       background-color: white;
  //     }
  //     &:first-of-type {
  //       border-right: 1px solid rgb(220, 220, 220);
  //     }
  //   }
  // }

}

#middlestretch, #middlestretch2, #navbreak{
    display: none;
}

.column-box {
    clear:both;
 text-align: justify;
 -ms-text-justify: distribute-all-lines;
 text-justify: distribute-all-lines;

 .stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0;
}

.divider {
    display:inline-block;
        //top:30px;
        height:150px;
        border-left:1px solid #ccc;
    }
}
#adventures {
    clear:both;
    padding-top:1em;
    text-transform: uppercase;
    h1, h2 {
        font-size: 1.5em;
    }

    .column {
        padding: 0.5em 0;
        vertical-align: top;
        margin: 0;
        width: 23%;
        min-width: 100px;

        .route-subhead {
            font-size :70%;
            line-height: 0.5em;
        }

    }
}
#howto-and-about {
    padding-top: 1em;
    .howto-img {
        float:left;
        display: inline-block;
        max-width:60%;
        margin: 0 5% 5% 0;
    }
    #about {
        display: inline-block;
        max-width: 30%;
        text-align: center;
        p {
            padding: 0.25em;
        }
    }
}

#news-and-updates {
    padding-top: 1em;
    a {
        color: #777;
        text-decoration: none;
        border-bottom: 1px dotted #777;
    }
    .no-ul {
        border:none;
        color:black;
    }
    .column {
        padding: 0;
        vertical-align: top;
        margin: 0;
        max-width: 35%;
        min-width: 128px;
        ul {
            padding:0;
            margin:0.5 0;
            text-align: left;
            overflow-x: hidden;
           // font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
           font-family: @body-font;
       }
   }
   #news {
    li {
      padding:0.3em;
      font-size: 1.2857em;
  }

}
#tweets {
    font-size: 0.857em;
    ul {
        list-style-type: none;
    }
    p{
        margin-bottom: 0.25em;
    }
    .timePosted {
        margin:0;
        font-style: italic;
    }
}
#signup {

     //   padding-left: 5%;
     //   text-align: left;
     //   width:22%;
     h2 {
            //padding-top: 1em;
            //line-height: 1.5em;
        }
    }
}

footer {
    clear: both;
    text-align: center;
    padding-top: 30px;
    color: #aaa;
    font-size: 12px;
}


/*      Default Layout: 992px. 
        Gutters: 24px.
        Outer margins: 48px.
        Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */




/*      Tablet Layout: 768px.
        Gutters: 24px.
        Outer margins: 28px.
        Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */


/*      Mobile Layout: 320px.
        Gutters: 24px.
        Outer margins: 34px.
        Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 900px) {
  #top {
    #nav {
      width:100%;
      padding-top:0;
    }
  }
  #navbreak {
    display:block;
  }

}

// 600px in normal zoom
@media only screen and (max-width: 600px) {
    .container {
        margin:0;
        padding:0;
        overflow:hidden;
        width:100%;
    }


// #top header {
//     width:110%;
//     overflow: hidden;
//     margin:auto;

// }
#middle-divider {
    display: none;
}
#middlestretch, #middlestretch2{
    display: inline-block;
}
#adventures .column-box {
    text-align: center;
}
#adventures .column {
    width:48%;
   // padding:10%;
}
#howto-and-about {
    text-align: center;
    .howto-img {
        float: none;
        max-width:90%;
       // margin: auto;
       }#about {
        max-width: 90%;
    }
}
#news-and-updates .column {
    max-width:44%;
    min-width:200px;
    padding:2%;
}
}


/*      Wide Mobile Layout: 480px.
        Gutters: 24px.
        Outer margins: 22px.
        Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (max-width: 480px) {
    #news-and-updates .column {
        max-width:100%;
        padding:3%;
        text-align: center;
    }

}
