// SF POPOS
// MAP LESS

@import "normalize.less";
@import "preboot.less";

// CONSTANTS

@title-bg:      #2c2c38;
@detail-width:  480px;

// TYPOGRAPHY PRESETS

@import url(http://fonts.googleapis.com/css?family=Leckerli+One);

@font-face {
    font-family: 'futura_mdcn_btmedium';
    src: url('fonts/futurabt-mediumcondensed-webfont.eot');
    src: url('fonts/futurabt-mediumcondensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/futurabt-mediumcondensed-webfont.woff') format('woff'),
         url('fonts/futurabt-mediumcondensed-webfont.ttf') format('truetype'),
         url('fonts/futurabt-mediumcondensed-webfont.svg#futura_mdcn_btmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'futura_md_btmedium';
    src: url('fonts/futura_medium-webfont.eot');
    src: url('fonts/futura_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/futura_medium-webfont.woff') format('woff'),
         url('fonts/futura_medium-webfont.ttf') format('truetype'),
         url('fonts/futura_medium-webfont.svg#futura_md_btmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'futura_ltcn_btlight';
    src: url('fonts/futura_light_condensed-webfont.eot');
    src: url('fonts/futura_light_condensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/futura_light_condensed-webfont.woff') format('woff'),
         url('fonts/futura_light_condensed-webfont.ttf') format('truetype'),
         url('fonts/futura_light_condensed-webfont.svg#futura_ltcn_btlight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'futura_lt_btlight';
    src: url('fonts/futurabt-light-webfont.eot');
    src: url('fonts/futurabt-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/futurabt-light-webfont.woff') format('woff'),
         url('fonts/futurabt-light-webfont.ttf') format('truetype'),
         url('fonts/futurabt-light-webfont.svg#futura_lt_btlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@title-font:  'futura_ltcn_btlight', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
@body-font:'futura_lt_btlight', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
@body-bold:'futura_md_btmedium', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

// MIXINS

// none

// LAYOUT

// moved to map.html because these elements were being rendered slower than less.js can process it.

// OVERLAY

#detailview {
  z-index: 2000;
  position: absolute;
  left: 40px;
  top: 40px;
  width: @detail-width;
  overflow: hidden;
  // border-radius: 16px;
  //.border-top-radius(20px);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  //font-family: 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-family: @body-font;
  font-size: 14px;
  // broken
  //.border-bottom-radius(20px);
  .title {
    text-align: center;
    height: 60px;
    background-color: @title-bg;
    color: white;
    padding: 0;
  //  width:100%;
    overflow: hidden;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    .user-select(none);
    
    #home {
      float: left;
      max-height: 40px;
      margin: 10px;
    }
    h2 {
      display: inline;
      font-family: @title-font;
      font-size: 24px;
      font-weight: normal;
      line-height: 60px;
      letter-spacing: 0.1em;
      max-width: 50%;
      padding: 0;
      margin: 0;
  //    margin-bottom: 20px;
      vertical-align: baseline;
    }

    .routename {
      text-transform: uppercase;
      float:right;
      right:0;
      font-family: @body-font;
      font-size: 12px;
      font-weight: normal;
      text-align: right;
      padding: 0;
      font-size: 12px;
      max-width: 25%;
      margin:25px 20px 0 0;
    }
  }
  .photo {
    .user-select(none);
    width: @detail-width;
    height: @detail-width * 0.46875;
    background-color: rgba(255, 255, 255, 0.90);
  }
  .info {
    background-color: rgba(255, 255, 255, 0.90);
    padding: 0 30px;
    .buttons {
      height: 60px;
      .address {
        width: 50%;
        float: left;
        font-size: 12px;
        font-family: @body-bold;
        //font-weight: bold;
        padding-top: 20px;
      }
      .icons {
        .user-select(none);
        width: 50%;
        position: absolute;
        right: 15px;
        text-align: center;
        padding-top: 10px;
        span {
          display: block;
          float: right;
          width: 30px;
          height: 40px;
          padding-top: 30px;
          font-size: 10px;
          line-height: 10px;
          margin: 0 15px;
        }
        .icon-views {
          background: url('../img/ui/icons.png') 0 0 no-repeat;
        }
        .icon-open {
          background: url('../img/ui/icons.png') -30px 0 no-repeat;
        }
        .icon-art {
          background: url('../img/ui/icons.png') -60px 0 no-repeat;
        }
        .icon-outdoor {
          background: url('../img/ui/icons.png') -90px 0 no-repeat;
        }
        .icon-food {
          background: url('../img/ui/icons.png') -120px 0 no-repeat;
        }
      }
    }
    .description {
      height: 160px;
      line-height: 160%;
//      overflow: auto;
    }
  }
  .navigation {
    .user-select(none);
    span {
      background-color: rgba(255, 255, 255, 0.90);
      width: 50%;
      float: left;
      text-align: center;
      border-top: 1px solid rgb(220, 220, 220);
      .box-sizing(border-box);
      cursor: pointer;
      &:hover {
        background-color: white;
      }
      &:first-of-type {
        border-right: 1px solid rgb(220, 220, 220);
      }
    }
  }

}