#overlay {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9998;
    background-color: black;
    opacity: 0.15;
    z-index: -1;
}

#construction {
    position: fixed;
    text-align: center;
    text-shadow: 1px 1px 1px #FFFFFF;
    width: 100%;
    z-index: 9999;
    font-size: 3em;
    color: white;
    top: 100px;
    z-index: -1;
}

.da-slider {
  top: 200px;
  background: url('/map_bg.png') no-repeat;
  opacity: 50%;
  top: 10px;
}

.da-slider .slide-content {
  background-color: white;
  left: 50px;
  position: relative;
  top: 50px;
  border: 1px solid grey;
  left: 30px;
  opacity: 40;
  padding: 25px;
  top: 290px;
  width: 380px;
}
