#overlay {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9998;
}

#construction {
    position: fixed;
    text-align: center;
    text-shadow: 1px 1px 1px #FFFFFF;
    width: 100%;
    z-index: 9999;
    font-size: 3em;
    color: black;
    top: 90px;
}

#construction div {
  height: 30px;
  margin: 0 auto;
  padding: 10px;
  width: 320px;
  background-color: rgba(255,255,255, 0.75);
  left: 50px;
}

.da-slider {
  background: url('../img/map_bg.png') no-repeat;
  opacity: 50%;
  top: 17px;
}

.da-slider .slide-content {
  background-color: white;
  position: absolute;
  border: 1px solid grey;
  left: 30px;
  opacity: 40;
  padding: 25px;
  bottom: 25px;
  left: 25px;
  width: 380px;
}

#news {
  left: 20px;
  top: 20px;
}

#nav #contact {
  font-size: 1.25em;
  color: #fff;
  font-weight: 400;
  text-shadow: 0px 1px 0px #000;
  text-decoration: none;
  word-spacing: 2px;
  outline: none;
}
