#overlay {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9998;
    background-color: black;
    opacity: 0.15;
}

#construction {
    position: fixed;
    text-align: center;
    text-shadow: 1px 1px 1px #FFFFFF;
    width: 100%;
    z-index: 9999;
    font-size: 3em;
    color: white;
    top: 100px;
}
