$body-font: 'Lato', sans-serif;
//$body-bold:'Open Sans Condensed', sans-serif;
$title-font:'Open Sans Condensed', sans-serif;

$title-bg:              #2c2c38;
$black-text:            #231F20;
$light-gray:            #dcdcdc;
$mid-gray:              #595961;
$container-width:       1024px;
$detail-width:          20%;
$top-height:            90px;

html {
//    background: url('../img/pattern1.jpg') repeat #fff;
//background-color: $light-gray;
  //  font-family: 'futuramedium', sans-serif;
  font-family: $body-font;
  font-size: 14px;
  padding-bottom: 40px;
  color:$black-text;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $title-font;
  //font-weight: 700;
  text-transform: uppercase;
}
a {
  text-decoration: none;
  color:inherit;
}

.container {
  clear:both;
  max-width: $container-width;
  margin:0 auto;
  padding: 0;
  h1 {
    text-transform: uppercase;
    text-align: center;
    width:100%;
  }
}

#top {
    position: fixed;
    left:0;
    top:0;
    height:$top-height - 8px;
    padding-top:8px;
    background-color:$title-bg;
    width:100%;
    .title-div {
      float:left;
      padding-left:1em;
    }
    #nav 
    {
      position:absolute;
      bottom:0;
      right: 0;
      font-family: $title-font;
      letter-spacing: .08em;
      font-weight: 700;
      text-transform: uppercase;
      color:$light-gray;
      font-size: 1.5em;
      padding-right:1em;
      padding-bottom:8px;
//      float:right;
      text-align: right;
      width:70%;
      margin:0;
      li ul.show {
        display:block;
        z-index: 1000;
      }
      li {
        cursor:pointer;
        list-style: none;
        display: inline-block;
        margin-left: 10%;
        position:relative;
        ul.menu {
          display:none;
          z-index: 1000;
          text-align: center;
          left:-2.25em;
          position:absolute;
          padding: 0;
          color:#fff;
          li {
              width:9em;
              padding:0;
              margin:3px 1px;
              display: block;
              background-color: #231F20;
          }
          li:hover {
              background-color: #64C4B8;
          }
        }
        ul.user-links {
          text-transform: lowercase;
          display: inline-block;
          font-family: $body-font;
          font-size: 0.666667em;
          li {
            padding:0;
            white-space:nowrap;
            display: block;
            margin: 0;
          }
        }
      }
      li:nth-child(1) {margin: 0;}
    }
}
#top-spacer{
  height:$top-height;
}

#main {
  position:absolute;
  width: 100%;
  top: $top-height;
  bottom:0;
  left: 0;

}