
   <section id="map">

    <div id='photo-large' style="display:none">
      <div class="title">
        <img src="img/ui/close.png" id='close-icon' />
        <h3 id="photo-title"></h3>
      </div>
      <img class='photo'>
    </div>


  <div id="sidebar">  
    <section id='detailview'>
     
      <div id="sidebar-list"> </div>
       <div id='place'><!-- placeholder for place info --></div>
    </section>
  </div>